#buts-page1 {
    margin: auto;
    margin-top: 600px;
}

.play-but-page1 {
    font-size: 40px;
    background-color: blue;
    padding: 20px 10px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
}